@page "/sentiment"

@inject SentimentAnalysisService SentimentAnalysisService

<h2>Live Sentiment</h2>

<p><textarea @oninput="UpdateScore" cols="45" placeholder="Type any text like a short product review"></textarea></p>

<HappinessScale Value=@happiness />

@code {
    [Parameter]
    public float happiness { get; set; } = 50; // 0=worst, 100=best

    private void UpdateScore(ChangeEventArgs e)
    {
        string targetText = (string)e.Value;

        happiness = SentimentAnalysisService.GetSentimentPrediction(targetText);
    }

    private float PredictSentiment(string targetText)
    {
        return SentimentAnalysisService.GetSentimentPrediction(targetText);
    }
}
